 #### Q7) Calculate Mean, Median, Mode, Variance, Standard Deviation, Range &     comment about the values / draw inferences, for the given dataset

In [29]:
# Import libraries

import pandas as pd
import numpy as np

In [30]:
# Import data
data = pd.read_csv("Q7.csv")

In [31]:
data.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   Points      32 non-null     float64
 2   Score       32 non-null     float64
 3   Weigh       32 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.1+ KB

In [33]:
data.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [34]:
data.tail()

        Unnamed: 0  Points  Score  Weigh
27    Lotus Europa    3.77  1.513   16.9
28  Ford Pantera L    4.22  3.170   14.5
29    Ferrari Dino    3.62  2.770   15.5
30   Maserati Bora    3.54  3.570   14.6
31      Volvo 142E    4.11  2.780   18.6

In [68]:
# Calculate Mean 

data_mean = data[['Points','Score','Weigh']].mean()
print("\nData_mean")
print(data_mean)

Data_mean
Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

In [69]:
# Calculate Median 

data_median = data[['Points','Score','Weigh']].median()
print("\nData_median:")
print(data_median)

Data_median:
Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [70]:
# Calculate Mode

data_mode = data[['Points','Score','Weigh']].mode().iloc[0]
print("\nData_mode:")
print(data_mode)

Data_mode:
Points     3.07
Score      3.44
Weigh     17.02
Name: 0, dtype: float64

In [71]:
# Calculate Variance

data_var = np.var(data[['Points','Score','Weigh']])
print("\nData_var:")
print(data_var)

Data_var:
Points    0.276948
Score     0.927461
Weigh     3.093380
dtype: float64

In [72]:
# Calculate Standard deviation
data_std = data[['Points','Score','Weigh']].std()
print("\nData_std:")
print(data_std)

Data_std:
Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

In [76]:
# Calculate Range
range_values = data[['Points','Score','Weigh']].max()  - data[['Points','Score','Weigh']].min()
print("\nRange values:")
print(range_values)

Range values:
Points    2.170
Score     3.911
Weigh     8.400
dtype: float64

In [91]:

# Commenting on the values
# Making inferences based on the calculated statistics
print("\nComments and Inferences:")
print("- Points -")
print("The mean value for 'Points' is:", data_mean['Points'])
print("The median value for 'Points' is:", data_median['Points'])
print("The mode for 'Points' is:", data_mode['Points'])
print("The variance for 'Points' is:", data_var['Points'])
print("The standard deviation for 'Points' is:", data_std['Points'])
print("The range for 'Points' is:", range_values['Points'])
print("______________________________________")

print("\nComments and Inferences:")
print("- Score -")
print("The mean value for 'Score' is:", data_mean['Score'])
print("The median value for 'Score' is:", data_median['Score'])
print("The mode for 'Score' is:", data_mode['Score'])
print("The variance for 'Score' is:", data_var['Score'])
print("The standard deviation for 'Score' is:", data_std['Score'])
print("The range for 'Score' is:", range_values['Score'])

print("________________________________________")

print("\nComments and Inferences:")
print("- Weigh -")
print("The mean value for 'Weigh' is:", data_mean['Weigh'])
print("The median value for 'Weigh' is:", data_median['Weigh'])
print("The mode for 'Weigh' is:", data_mode['Weigh'])
print("The variance for 'Weigh' is:", data_var['Weigh'])
print("The standard deviation for 'Weigh' is:", data_std['Weigh'])
print("The range for 'Weigh' is:", range_values['Weigh'])

Comments and Inferences:
- Points -
The mean value for 'Points' is: 3.5965625
The median value for 'Points' is: 3.6950000000000003
The mode for 'Points' is: 3.07
The variance for 'Points' is: 0.27694755859375003
The standard deviation for 'Points' is: 0.5346787360709716
The range for 'Points' is: 2.17
______________________________________

Comments and Inferences:
- Score -
The mean value for 'Score' is: 3.2172500000000004
The median value for 'Score' is: 3.325
The mode for 'Score' is: 3.44
The variance for 'Score' is: 0.9274608750000002
The standard deviation for 'Score' is: 0.9784574429896967
The range for 'Score' is: 3.9110000000000005
________________________________________

Comments and Inferences:
- Weigh -
The mean value for 'Weigh' is: 17.848750000000003
The median value for 'Weigh' is: 17.71
The mode for 'Weigh' is: 17.02
The variance for 'Weigh' is: 3.0933796874999997
The standard deviation for 'Weigh' is: 1.7869432360968431
The range for 'Weigh' is: 8.399999999999999